/* PC */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 740px) {
  #header {
    overflow: hidden;
  }

  #header .search-btn {
    display: none;
  }

  #header .menu-mobile-btn {
    display: block;
  }
  #nav {
    display: block;
  }
  #nav > li {
    display: block;
  }

  #nav .subnav {
    /* reset về giá trị mặc định */
    position: initial;
    background-color: #333;
  }

  #nav .subnav a {
    color: #fff;
    padding: 5px 41px;
  }

  #nav > li:first-child {
    display: inline-block;
  }
  #content .member-item {
    width: 100%;
    margin-top: 30px;
  }

  #content .img {
    width: 60%;
  }
  #tour {
    height: 1900px;
  }

  .place-list .place-item {
    width: 100%;
    margin-top: 16px;
  }
}
