/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Font chữ */
  font-family: Arial, Helvetica, sans-serif;
}

.clear {
  clear: both;
}

/* 
======= Cách CSS ========
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.tổng quan đến chi tiết
*/

/* 
1.vị trí
2.kích thước
3.màu sắc
4.Kiểu dáng (kiểu chữ,hình tròn,vuông ,....)
 */

#Wrapper {
}

#header {
  height: 46px;
  background-color: black;
  /* bám dính */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* Fix lỗi slider đè lên header */
  z-index: 1;
}

#nav {
  /* xếp thành từng khối và theo hàng ngang */
  display: inline-block;
}

#nav .subnav {
  display: none;
  /* tối thiểu 160 */
  min-width: 160px;
  position: absolute;
  background-color: #fff;

  /* Đổ bóng */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  /* bỏ dấu chấm */
  list-style-type: none;
}

#nav .subnav a {
  color: #333;
}

#nav > li {
  display: inline-block;
}

#nav li {
  /* Trên 1 hàng và mỗi li là một khối */
  /* display: inline-block; */

  position: relative;
}

#nav li:hover .subnav {
  /* hiện khi hover vào nút */
  display: block;
}

#nav > li > a {
  color: #fff;
  /* Viết hoa lên */
  text-transform: uppercase;
}

#nav li a {
  /* Bỏ gạch chân */
  text-decoration: none;
  /* chiều cao chữ */
  line-height: 46px;

  /* Khoảng cách giữa các chữ */
  padding: 0 24px;

  display: block;
}

#nav > li:hover > a {
  color: black;
  background-color: #ccc;
}

#nav .subnav li:hover {
  color: black;
  background-color: #ccc;
}

#nav .nav-arrow-dow {
  font-size: 14px;
}

#header .search-btn {
  float: right;
  padding: 0 16px;
}

#header .search-btn:hover {
  background-color: red;
  cursor: pointer;
}

#header .search-icon {
  line-height: 46px;
  color: #fff;
}

#slider {
  margin-top: 46px;
  /*= 50% chiều ngang của chính nó */
  padding-top: 50%;
  background: url("../img/Slider/slider1.jpg");
  /* Không lặp lại ảnh */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;

  /* Cách 1 */
  /* left: 50%;
  transform: translateX(-50%); */

  /* Cách 2  */
  right: 0;
  left: 0;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
}

#content {
}

#content .content-section {
  width: 800px;
  padding-top: 64px;
  padding-bottom: 64px;
  /* cho ra giữa */
  margin-left: auto;
  /* cho ra giữa */
  margin-right: auto;
}

#content .section-heading {
  font-size: 30px;
  text-align: center;
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  /* chữ nghiêng */
  font-style: italic;
  /* cho chữ mờ đi 1 tí */
  opacity: 0.8;
}

#content .abount-text {
  font-size: 15px;
  margin-top: 25px;
  /* căn đều hai bên */
  text-align: justify;
  /* chỉnh độ cao 1 dòng */
  line-height: 1.6;
}

#content .member-list {
  margin-top: 47px;
}

#content .member-item {
  float: left;
  /* cho các ảnh cách nhau ra */
  width: 33.33333%;
  /* các class bên trong được kế thừa thuộc tính này */
  text-align: center;
}

#content .member-name {
  font-size: 15px;
}

#content .img {
  width: 154px;
  margin-top: 15px;
  /* bo tròn góc ảnh vào */
  border-radius: 4px;
}

#Footer {
}
