/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Font chữ */
  font-family: Arial, Helvetica, sans-serif;
}

.clear {
  clear: both;
}

/* ưu tiên nhất */
.text-white {
  color: #fff !important;
}

/* 
======= Cách CSS ========
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.tổng quan đến chi tiết
*/

/* 
1.vị trí
2.kích thước
3.màu sắc
4.Kiểu dáng (kiểu chữ,hình tròn,vuông ,....)
 */

#Wrapper {
}

#header {
  height: 46px;
  background-color: black;
  /* bám dính */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* Fix lỗi slider đè lên header */
  z-index: 1;
}

#nav {
  /* xếp thành từng khối và theo hàng ngang */
  display: inline-block;
}

#nav .subnav {
  display: none;
  /* tối thiểu 160 */
  min-width: 160px;
  position: absolute;
  background-color: #fff;

  /* Đổ bóng */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  /* bỏ dấu chấm */
  list-style-type: none;
}

#nav .subnav a {
  color: #333;
}

#nav > li {
  display: inline-block;
}

#nav li {
  /* Trên 1 hàng và mỗi li là một khối */
  /* display: inline-block; */

  position: relative;
}

#nav li:hover .subnav {
  /* hiện khi hover vào nút */
  display: block;
}

#nav > li > a {
  color: #fff;
  /* Viết hoa lên */
  text-transform: uppercase;
}

#nav li a {
  /* Bỏ gạch chân */
  text-decoration: none;
  /* chiều cao chữ */
  line-height: 46px;

  /* Khoảng cách giữa các chữ */
  padding: 0 24px;

  display: block;
}

#nav > li:hover > a {
  color: black;
  background-color: #ccc;
}

#nav .subnav li:hover {
  color: black;
  background-color: #ccc;
}

#nav .nav-arrow-dow {
  font-size: 14px;
}

#header .search-btn {
  float: right;
  padding: 0 16px;
}

#header .search-btn:hover {
  background-color: red;
  cursor: pointer;
}

#header .search-icon {
  line-height: 46px;
  color: #fff;
}

#slider {
  margin-top: 46px;
  /*= 50% chiều ngang của chính nó */
  padding-top: 50%;
  background: url("../img/Slider/slider1.jpg");
  /* Không lặp lại ảnh */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;

  /* Cách 1 */
  /* left: 50%;
  transform: translateX(-50%); */

  /* Cách 2  */
  right: 0;
  left: 0;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
}

#content {
}

#content .content-section {
  width: 800px;
  padding-top: 64px;
  padding-bottom: 64px;
  /* cho ra giữa */
  margin-left: auto;
  /* cho ra giữa */
  margin-right: auto;
}

#content .section-heading {
  font-size: 30px;
  text-align: center;
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  /* chữ nghiêng */
  font-style: italic;
  /* cho chữ mờ đi 1 tí */
  opacity: 0.8;
}

#content .abount-text {
  font-size: 15px;
  margin-top: 25px;
  /* căn đều hai bên */
  text-align: justify;
  /* chỉnh độ cao 1 dòng */
  line-height: 1.6;
}

#content .member-list {
  margin-top: 47px;
}

#content .member-item {
  float: left;
  /* cho các ảnh cách nhau ra */
  width: 33.33333%;
  /* các class bên trong được kế thừa thuộc tính này */
  text-align: center;
}

#content .member-name {
  font-size: 15px;
}

#content .img {
  width: 154px;
  margin-top: 15px;
  /* bo tròn góc ảnh vào */
  border-radius: 4px;
}

/* Tour section */
.tour-section {
  background-color: black;
  height: 850px;
}

.tickets-list {
  margin-top: 40px;
  background-color: #fff;
}

.tickets-list li {
  font-size: 15px;
  padding: 11px 16px;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
  background-color: #f44366;
  color: #fff;
  font-size: 14px;
  padding: 3px 4px;
  text-align: center;
  height: 22.5px;
  margin-left: 16px;
}

.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #333;
  /* hình tròn */
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 24px;
}

/* Place */
.place-list {
  margin-top: 32px;

  /* căn thẳng bằng viền trên */
  margin-left: -8px;
  margin-right: -8px;
}
.place-item {
  float: left;
  width: 33.33333%;
  padding: 0px 8px;
}

.place-body {
  padding: 16px;
  background-color: #fff;
}

.item-img:hover {
  /* độ mờ khi hover vào */
  opacity: 0.6;
}

.place-item .item-img {
  /* thêm đẻ bằng cái thẻ chứa nó */
  width: 100%;
}

.place-buy-button {
  text-decoration: none;
  padding: 11px 16px;
  background-color: #333;
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  border: none;
}

.place-buy-button:hover {
  background-color: #ccc;
}

/* Footer */
#Footer {
}

/* Phần modal */
.modal1 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);

  /* Thằng con nằm giữa chiều cao của thằng cha */
  align-items: center;
  /* Thằng con nằm giữa chiều ngang của thằng cha */
  justify-content: center;
  display: none;
}

.modal1.open {
  display: flex;
}

.modal-container {
  background-color: #fff;
  height: 450px;
  width: 900px;
  position: relative;
  /* hở 2 bên khi co trang web vào */
  max-width: calc(100%-32px);

  animation: modalFadein ease 0.4s;
}

.modal-close {
  position: absolute;
  right: 0;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}

.modal-close:hover {
  opacity: 1;
}

.modal1 .modal-header {
  background-color: #009688;
  height: 130px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.modal-heading-icon {
  margin-right: 16px;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 24px;
}

#buy-tickets {
  width: 100%;
  background-color: #009688;
  height: 50px;
  border: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

#buy-tickets:hover {
  opacity: 0.9;
}

.modal-footer {
  padding: 16px;
  text-align: right;
}

.modal-footer a {
  color: #2196f3;
}

/* cách để trôi phần ticket từ trên xuống */
@keyframes modalFadein {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    /* bằng 0 bởi vì trở lại vị trí cũ */
    transform: translateY(0);
  }
}
