* {
  padding: 0px;
  margin: 0px auto;
}

.Container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.Wraper4 {
  width: 100%;
  height: 400px;
}

.main1 {
  width: 100%;
  text-align: center;
  height: 70px;
}

.main1 > p {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.main2 {
  width: 100%;
  display: flex;
  height: 330px;
}

.main2_title img,
.main2_title3 img,
.main2_title2 img {
  width: 380px;
}
