* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0px auto;
  padding-top: 200px;
  width: 500px;
  height: 700px;
}

.Booking {
  padding: 34px 0;
  box-shadow: #ccc;
  border: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(231, 225, 225);
  border-radius: 3px;
}

.Info {
  text-align: center;
}

.Info .Info-input {
  padding-top: 16px;
}

.Info-input-item {
}

.Info-input-item .Info-input-item-content {
  font-size: 14px;
  font-weight: 400;
  margin: 5px auto;
  width: 300px;
  display: flex;
  justify-content: flex-start;
}

.Info-input-id,
.Info-input-date,
.Info-input-numberPeople {
  width: 300px;
  border-radius: 3px;
  border: none;
  outline: none;
  border-color: #d2d2d2;
  line-height: 25px;
  box-shadow: 0 2px 10px #ccc;
}

.Info .Info-book-header {
  font-weight: 520;
}

.Payment {
  text-align: center;
  padding-top: 30px;
}

.Payment .Payment-header {
  font-weight: 520;
}

.btn {
  width: 100%;
  padding-top: 40px;
}

.btn .btn-complete {
  background-color: #d3208d;
  color: #fff;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 1px;
}

.btn .btn-complete:hover {
  background-color: rgb(180, 57, 57);
}
