:root {
  --primary-color: #ee4d2d;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --boder-color: #dbdbdb;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-with {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Modal */
.modal {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  display: flex;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  background-color: var(--white-color);
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 3px;
}
/* End Modal */

/* Button style  */

.btn {
  min-width: 142px;
  min-height: 36px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-size: 1.4rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  opacity: 0.8;
}

.btn.btn--primary {
  background: var(--primary-color);
  color: #fff;
}
.btn.btn--size-s {
  height: 32px;
  font-size: 12px;
  padding: 0 8px;
}
