/* Begin Header */
.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6232, #f53f2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
}

/* CSS các chữ */
.header__navbar-item {
  margin: 0 8px;
  position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item--has-qr:hover .header__QR {
  display: block;
}

.header__navbar-item--has-notify:hover .header__nodify {
  display: block;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/* CSS cho đăng kí đăng nhập */
.header__navbar-item-strong {
  font-weight: 400;
}

.header__navbar-item--sebarate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: #fb9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  text-decoration: none;
  color: var(--white-color);
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

/* Nút kết nối */
.header__navbar-title--no-poiter {
  cursor: text;
  /* đè lên hover */
  color: var(--white-color);
}

/* Header QR code */
.header__QR {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 118%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  /* cách để hiện QR */
  animation: fadeIn ease-in 0.5s;
}

.header__QR::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 20px;
  left: 0;
  top: -16px;
}
.header__QR-apps {
  display: flex;
  justify-content: space-between;
}
.header__QR-img {
  width: 100%;
}
.header__QR-link:first-child {
  margin-left: 11px;
}
.header__QR-link:last-child {
  margin-right: 11px;
}

/* Google play && Appstore */
.header__QR-dowload-img {
  height: 15px;
}
/* End Header QR codes */

/*Header Notify */
.header__nodify {
  position: absolute;
  top: 118%;
  width: 404px;
  background-color: var(--white-color);
  right: 0;
  border: 1px solid#D3D3D3;
  transform-origin: calc(100%-20px) top;
  animation: headerNotifyGrowth ease-in 0.25s;
  will-change: opacity, transform;
  display: none;
}

.header__nodify::before {
  content: "";
  border: 20px solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 12px;
  top: -28px;
}

.header__nodify::after {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 12px;
  top: -15px;
  right: 0;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__nodify-header {
  color: #ccc;
  /* Bằng thẻ chứa nó */
  height: 40px;
  background-color: var(--white-color);
  cursor: default;
}
.header__nodify-header h3 {
  color: #ccc;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 0 12px;
  font-size: 1.4rem;
}

.header__notify-list {
  list-style-type: none;
  padding-left: 0;
}
.header__notify-item {
}

.header__notify-item--viewed:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: rgba(238, 75, 43, 0.08);
}
.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}
.header__notify-img {
  width: 48px;
  /* xử lí việc méo ảnh */
  object-fit: contain;
}
.header__notify-info {
  margin-left: 12px;
}
.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 400;
}
.header__notify-descrition {
  display: block;
  font-size: 1.1rem;
  color: #756f6e;
}

.header__notify-footer {
  text-align: center;
  margin: 6px 16px;
}
.header__notify-footer-btn {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
}

/* End Header notify */

/* Auth Modal */
.modal {
}
.auth-form {
  overflow: hidden;
  width: 500px;
}

.auth-form__container {
  padding: 32px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
  cursor: pointer;
}

.auth-form__switch-btn {
  color: var(--primary-color);
  font-size: 1.7rem;
  font-weight: 400;
  cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  font-size: 11.5px;
  padding: 0 12px;
  border: 1px solid var(--boder-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 20px;
  padding: 0 12px;
}

.auth-form-policy_text {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}
.auth-form-policy_link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form_control {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form_control-back {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: flex;
  justify-content: space-between;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}
.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3a5398;
}
.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}
.auth-form__socials-title {
  margin: 0 36px;
}
.auth-form__socials--google {
  background-color: var(--white-color);
}
