/* CSS những thuộc tính không chung */
.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53f2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
}

.header__navbar-item--has-qr:hover .header__QR {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  /* Nút phân cách */
  border-left: 1px solid #fb9086;
  height: 14px;
  top: 0;
  right: -10px;
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-title--no-poiter {
  cursor: text;
  color: var(--white-color);
}

/* QR code */
.header__QR {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 118%;
  padding: 8px;
  border: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  z-index: 1;
}

.header__QR::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  left: 0;
  top: -10px;
  position: absolute;
}

.header__QR-img {
  width: 100%;
}

.header__QR-apps {
  display: flex;
  justify-content: space-between;
}

.header__QR-link:first-child {
  margin-left: 12px;
}

.header__QR-link:last-child {
  margin-right: 12px;
}

.header__QR-dowload-img {
  height: 16px;
}

/* Header notification */
.header__nodify {
  position: absolute;
  right: 0;
  top: 100%;
  width: 404px;
  border: 1px solid #d3d3d3;
  background-color: var(--white-color);
  /* Dịch chuyển tâm */
  transform-origin: top right;
  animation: headerNotifyGrowth ease-in 0.2s;
  /* khai những thuộc tính thay đổi để web tối ưu hóa hơn */
  will-change: opacity, transform;
  display: none;
  z-index: 1;
}

.header__nodify::before {
  content: "";
  border: 20px solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 12px;
  top: -25px;
}

.header__nodify::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 12px;
  top: -8px;
  right: 0;
}

.header__navbar-item:hover .header__nodify {
  display: block;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__nodify-header {
  height: 40px;
  background-color: var(--white-color);
  cursor: text;
}

.header__nodify-header h3 {
  font-weight: 300;
  margin: 0 0 0 12px;
  color: #d3d3d3;
  font-size: 1.4rem;
  line-height: 40px;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}
.header__notify-item--viewed {
  background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
  width: 100%;
  display: flex;
  padding: 12px;
  text-decoration: none;
}

.header__notify-img {
  width: 48px;
  object-fit: contains;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  font-size: 1.4rem;
  display: block;
  color: var(--text-color);
  font-weight: 400;
}

.header__notify-descrition {
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #756f6e;
}

.header__notify-footer {
  display: flex;
}
.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  margin: auto;
  padding: 10px;
  font-weight: 400;
}

/* Authen Modal */

.auth-form {
  border-radius: 3px;
  width: 500px;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 14px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}
.auth-form__socials--google {
  color: #666;
  background-color: var(--white-color);
}

.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}

.auth-form__socials-title {
  margin: 0 36px;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0 16px;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 16px;
  border-left: 1px solid var(--border-color);
}
.auth-form__help-forgot {
  color: var(--primary-color);
}

/* Header search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 16px 8px 0 8px;
}

.header-logo-img {
  width: 150px;
}

.header__search {
  flex: 1;
  border-radius: 2px;
  height: 40px;
  background-color: var(--white-color);
  margin-left: 14px;
  display: flex;
  align-items: center;
}
/* Cart */
.header__cart {
  width: 150px;
  text-align: center;
  z-index: 1;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  /* chỉ hiện trục dọc */
  overflow-y: auto;
  height: 20vh;
}
.header__cart-item {
  display: flex;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
}

.header__cart-item-info {
  width: 100%;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 12px;
  margin-top: 12px;
}

.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}
.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}
.header__cart-item-multiphy {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}
.header__cart-item-qnt {
  font-size: 1.2rem;
  color: #757575;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.header__cart-item-description {
  color: #757575;
  font-size: 1.3rem;
  font-weight: 300;
}
.header__cart-item-remove {
  margin-right: 12px;
  color: #757575;
  font-size: 1.3rem;
  font-weight: 300;
}
.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
  background-color: #f05d41;
}

.header__cart-list::after {
  content: "";
  position: absolute;
  right: 2px;
  top: -30px;
  border-width: 20px 26px;
  border-style: solid;
  border-color: transparent transparent var(--white-color);
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 11px);
  right: -12px;
  background-color: var(--white-color);
  width: 380px;
  border-radius: 2px;
  box-shadow: 0 2px 10px #ccc;
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  display: none;
}

.header__cart-list--no-cart {
  padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__cart-list--no-cart-img {
  width: 50%;
  display: none;
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 2.2rem;
}

.header__cart-notice {
  position: absolute;
  padding: 1px 7px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 15px;
  border: 2px solid #ee4d2d;
  top: -13px;
  right: -16px;
}

.header__search-input-wrap {
  height: 100%;
  flex: 1;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  cursor: pointer;
  position: relative;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: #666;
  margin: 0 16px;
  position: relative;
  top: 1px;
}

.header__search-btn {
  border: none;
  background-color: var(--primary-color);
  height: 34px;
  border-radius: 2px;
  margin-right: 4px;
  width: 60px;
  cursor: pointer;
}

.header__search-btn:hover {
  background-color: #ec593c;
}

.header__search-btn-icon {
  color: var(--white-color);
  font-size: 1.4rem;
}

.header__search-option {
  position: absolute;
  right: 0;
  top: 100%;
  width: 130px;
  list-style: none;
  margin-top: 16px;
  box-shadow: 0 1px 1px #ccc;
  padding-left: 0;
  border-radius: 2px;
  /* overflow: hidden; */
  display: none;
  animation: fadeIn ease-in 0.2s;
  z-index: 1;
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-option::after {
  content: "";
  width: 100%;
  height: 20px;
  display: block;
  position: absolute;
  top: -20px;
}
.header__search-option-item {
  background-color: var(--white-color);
  border-radius: 2px;
  padding: 8px;
  cursor: pointer;
}

.header__search-option-item {
  background-color: #fafafa;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0 4px 0 12px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}

/* Search history */
.header__search-history {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgb(172, 172, 172);
  display: none;
  z-index: 1;
}

.header__search-history-heading {
  margin: 14px 14px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.header__search-history-item {
  height: 38px;
  padding: 12px 14px;
}

.header__search-history-item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.header__search-history-item:hover {
  background-color: #fafafa;
}

.header__search-history-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
}

/* App Container */
.app__container {
  background-color: #f5f5f5;
}

.app-content {
  padding-top: 36px;
}
.category {
  background-color: var(--white-color);
  border-radius: 2px;
}
.category__heading {
  font-size: 1.7rem;
  color: var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(238, 229, 229, 0.7);
  margin-top: 0;
}

.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.category-list {
  padding-left: 0;
  padding-bottom: 8px;
  list-style: none;
}

.category-item {
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link::before {
  content: "";
  top: 50%;
  left: 4px;
  position: absolute;
  border: 4px solid;
  transform: translateY(calc(-50% - 2px));
  border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.6rem;
  padding: 6px 16px;
  display: block;
  /* Khai báo khi có chuyển động thì chuyển động như thế nào */
  transition: right linear 0.05s;
  right: 0;
}

.category-item__link:hover {
  right: -4px;
  color: var(--primary-color);
}

/* Home Sort + filter */
.home-filter {
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}

.home-filter__btn {
  min-width: 90px;
  margin-right: 12px;
}

.home-filter__label {
  color: #555555;
  font-size: 1.4rem;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__page-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}

.home-filter__page-btn {
  flex: 1;
  display: flex;
  background-color: var(--white-color);
  text-decoration: none;
}

.home-filter__page-btn--disabled {
  background-color: #f5f5f5;
  cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #ccc;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__page-icon {
  margin: auto;
  color: #555;
  font-size: 1.4rem;
}

/* Product Item */
.home-product {
  margin-bottom: 12px;
}

.home-product-item {
  display: block;
  text-decoration: none;
  position: relative;
  margin-top: 10px;
  background-color: var(--white-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform linear 0.1s;
  will-change: transform;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-product-item__name {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  margin: 10px 10px 6px;
}
.home-product-item__price {
  display: flex;
  margin-left: 10px;
  align-items: baseline;
}

.home-product-item__price-old {
  text-decoration: line-through;
  font-size: 1.2rem;
  color: var(--text-color);
}

.home-product-item__price-new {
  color: var(--primary-color);
  font-size: 1.4rem;
  margin-left: 5px;
}

.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px;
}
.home-product-item__like {
  font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
  display: none;
  color: var(--primary-color);
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__rating {
  font-size: 0.8rem;
  color: #d5d5d5;
  /* Đẩy cho đến khi chạm vào item tiếp theo */
  margin-left: auto;
  align-items: baseline;
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}

.home-product-item__start--gold {
  color: var(--start-gold-color);
}

.home-product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 3px 10px 0 10px;
  color: #595959;
  font-size: 1.1rem;
  font-weight: 300;
}

.home-product-item__band {
}

.homed-product-item__origin-name {
}

.home-product-item__favourite {
  position: absolute;
  top: 10px;
  color: var(--white-color);
  background-color: var(--primary-color);
  left: -4px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.home-product-item__favourite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid #504846;
  border-left: 3px solid transparent;
}

.home-product-item__favourite i {
  margin: 0 5px;
  font-size: 0.9rem;
}

.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--start-gold-color);
  width: 40px;
  height: 36px;
  font-weight: 500;
  text-align: center;
}

.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  border-style: solid;
  left: 0;
  bottom: -5px;
  border-width: 0 20px 6px;
  border-color: transparent var(--start-gold-color) transparent var(--start-gold-color);
}

.home-product-item__sale-off-percent {
  color: var(--primary-color);
  font-size: 1.3rem;
}

.home-product-item__sale-off-label {
  color: var(--white-color);
  font-size: 1.4rem;
}
